# Kaiden Merchant

## Research question/interests

**Is there a way for passengers to plan out their trips in order to reduce flight delays in the month of January? Have flight delays gotten worse/better during the peak-pandemic time period? Does flights taking off from California see more flight delays than flights out of Illinois? Are there specific airlines that yield the most delays?**

*First Question*

- Firstly, I would like to look at days of the week (mon, tues, etc.) and analyze the number of delays on each day of the week throughout the month.  
A bar chart may be useful for this sort of analysis because we are comparing number of delays vs. the day of the week and can be used to conclude whether certain days see more delays than others.

- Secondly, with the same sort of analysis, I would split the month into three sections (early (1-10), middle (11-20), late (21-31)) and figure out which section of the month seems to yield the most delays throughout the country.

*Second Question*
- If possible, I would like to look at a dataset from January 2019 and Febraury 2019 and compare with the same datasets from January 2020 and February 2020
This is when the US declared public health emergency (Feb 2020) and can loot at number (or proportion) of delays vs. total flights so we can determine if COVID had an effect on flight delays 

I can also dive deeper and look at certain sections of the month like I did above and see if certain sections of the month saw more flight delays as a result of COVID

*Third Question*

This question is interesting to me since I am from Chicago and now live in California and it would be interesting to look at the 3 busiest airports from those states and compare whether one state sees more flight delays than the other.

- I would create a dataset that only tracks the airports in CA (LAX, SFO, SAN) and IL (ORD, MDW, MLI) and looks at the delays from each airport
It would be interesting to see if the busiest airports in the state (LAX and ORD) would yield more delays (by percentage of delays from total flights) than the 3rd busiest airport

Another comparison would be to combine the delays from the CA airports and the IL airports and compare which state has to deal with more delays.

*Fourth Question*

This is an interesting question and many times, you will hear people complain about how one airline is much worse than the others when talking about flight delays...However, are there really specific airlines that tend to have the most delays?

- First, I would create a dataset that counts the number of delays in the month for each airline.
- Then, a pie chart that will show the airline that contributes the most percentage of delays in the month of January (however one flaw is that it does not take into account which airline flies more, since that airline will of course, have more delays)

- Using some sort of bar graph variation, I can show the percentage of total flights that were delayed for each airline which may be more useful to determine which airline frequently has delays.

## Load Modules

In [ ]:
import pandas as pd

## Load Dataset

In [ ]:
raw_df = pd.read_csv('../data/raw/Jan_2020_ontime.csv')
raw_df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN